<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Jedi</title>
  </head>
  <body>
    <!-- <form> -->
    <form action="/some_route" method="POST">
      {% csrf_token %}
      <p>Field One: <input name="one" type="text" /></p>
      <p>Field Two: <input name="two" type="text" /></p>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
