<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <a href="/recipes/new">Create Recipe</a> | <a href="/logout">Logout</a>
    <h1>Ahlan becom {{ user.first_name}}!</h1>
    <h3>Here are all the recipes</h3>
    <table>
      <thead>
        <th>Name</th>
        <th>Under 30</th>
        <th>Actions</th>
      </thead>
      {% for recipe in all_recipes %}
      <tr>
        <td>{{recipe.name}}</td>
        <td>{{recipe.under_30}}</td>
        <td>
          <a href="">View Instructions</a> |
          {% if user.id == recipe.upload_by.id %} <a href="">Edit</a> | <a href="">Delete</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
