@model MVC3.Models.User
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Number</title>
</head>

<body>
    <h1>Successfully came to @ViewBag.Number</h1>

    <form asp-action="Process" asp-controller="Home" method="post">
        <p><label asp-for="FirstName"></label><input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </p>
        <p><label asp-for="LastName"></label><input asp-for="LastName" /><span asp-validation-for="LastName"></span>
        </p>
        <p><label asp-for="Email"></label><input asp-for="Email" /><span asp-validation-for="Email"></span></p>
        <p><label asp-for="Password"></label><input asp-for="Password" /><span asp-validation-for="Password"></span>
        </p>
        <button type="submit">Submit</button>
    </form>
</body>

</html>