@using MVC3.Models
@model User
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Deets</title>
</head>

<body>
    <h1>Super sweet page for @Model.FullName()</h1>
</body>

</html>