<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mashaalla Powers</title>
  </head>
  <body>
    <h1>Viewing {{this_power.name}}</h1>
    <p>ID: {{ this_power.id }}</p>
    <p>Description: {{ this_power.description }}</p>
    <p>Image: <img src="{{ this_power.image }}" alt="hero image" /></p>
    <h3>SuperHeroes</h3>
    {% for hero in this_power.heroes.all %}
    <ul>
      <li>{{hero.name}}</li>
    </ul>
    {% endfor %}
    <form action="/process_add_to_hero/{{this_power.id}}" method="POST">
      {% csrf_token %}
      <select name="power">
        {% for hero in all_heroes %}
        <option value="{{hero.id}}">{{hero.name}}</option>
        {% endfor %}
      </select>
      <button type="submit">add hero to powers</button>
    </form>
  </body>
</html>
