<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>some pictures</title>
  </head>
  <body>
    <h1>here are some images!</h1>
    {% for image in images %}
    <img src="{{ image }}" alt="image here" />

    {% endfor %}
  </body>
</html>
