<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Mashaalla Games!</title>
  </head>
  <body>
    <h1>Welcome to our Mashaalla Games</h1>
    <table>
      <thead>
        <th>game title</th>
        <th>game description</th>
        <th>game publisher</th>
        <th>game created at</th>
      </thead>
      <tbody>
        {% for game in all_games %}
        <tr>
          <td>{{ game.title }}</td>
          <td>{{game.description}}</td>
          <td>{{game.publisher}}</td>
          <td>{{game.created_at}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3>Add new Game to the Table</h3>
    <form action="/process_form" method="POST">
      {% csrf_token %}
      <label for="title">Title</label>
      <input type="text" name="titlez" /><br />
      <label for="description">description</label>
      <input type="text" name="descriptionz" /><br />
      <label for="publisher">publisher</label>
      <input type="text" name="publisherz" /><br />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
