<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <a href="/recipes/new">Create Recipe</a> | <a href="/logout">Logout</a>
    <h1>Ahlan becom {{ user.first_name}}!</h1>
    <h3>Here are all the recipes</h3>
    <table>
      <thead>
        <th>Name</th>
        <th>Under 30</th>
        <th>Actions</th>
      </thead>
      {% for recipe in all_recipes %}
        {% if user not in recipe.tried_by.all %}
          <tr>
          <td>{{recipe.name}}</td>
          <td>{{recipe.under_30}}</td>
          <td>
            <a href="/recipes/{{recipe.id}}">View Instructions</a> |
            {% if user.id == recipe.upload_by.id %}
            <a href="/recipes/{{recipe.id}}/edit">Edit</a> |
            <a href="/recipes/{{recipe.id}}/delete">Delete</a>
              {% else %}
            <a href="/recipes/{{recipe.id}}/tried">Tried it</a>
              {% if user not in recipe.liked_by.all %}
            <a href="/recipes/{{recipe.id}}/like"> | Like it</a>
              {% else %} | <a href="/recipes/{{recipe.id}}/unlike">Unlike it</a>
            {% endif %}
          {% endif %}
          </td>
      </tr>
      {% endif %} {% endfor %}
    </table>
    <h3>Here are recipes you have tried</h3>
    <table>
      <thead>
        <th>Name</th>
        <th>Under 30</th>
        <th>Actions</th>
      </thead>
      {% for recipe in user_tried_recipes %}
      <tr>
        <td>{{recipe.name}}</td>
        <td>{{recipe.under_30}}</td>
        <td>
          <a href="/recipes/{{recipe.id}}">View Instructions</a> |
          {% if user not in recipe.liked_by.all %}
          <a href="/recipes/{{recipe.id}}/like"> | Like it</a>
          {% else %} | <a href="/recipes/{{recipe.id}}/unlike">Unlike it</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
