<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @* In this context '~' refers to the wwwroot folder *@
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Hello ASP!</title>
</head>

<body>
    <h1>muhahaha marhaba we made it!</h1>
    <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fvignette1.wikia.nocookie.net%2Fscratchpad%2Fimages%2F3%2F32%2FPikachu2.png%2Frevision%2Flatest%3Fcb%3D20130313231409&f=1&nofb=1"
        alt="pikachu">
</body>

</html>