<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <h1>Please sign in</h1>
    <form action="/process_login" method="POST">
      {% csrf_token %}
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="your name" />
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="your email" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
