/*CSS reset settings here*/
*{ 
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: #1B335D;
    margin: 0px auto;
    padding: 15px;
   }
   #header{
    min-height: 150px;
    background-color: #CE3036;
    margin-bottom: 15px;
    border-radius: 15px
   }
   #title{
       padding:20px;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
   }
   #main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    padding: 15px;
    margin-left: 15px;
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin-right: 10px;
   }
   #advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
    margin-top: 20px;
   }
   h1 {
    padding-top: 48px;
    padding-left: 52px;
   }
   ul, li {
       margin-left: 10px;
   }

   span {
       color: purple;
       text-decoration: underline;
   }